@charset "utf-8";

@import "./variables.scss";
@import "~bulma/bulma.sass";

body {
    background-color: $orange;
    height: 100%;
}

#modules {
    height: 100vh;
}

.is-fullheight {
    height: 100vh;
}

.hero-container {
    padding-top: 5%;
    flex-grow: 20 !important;
    flex-shrink: 0 !important;
    text-align: center;
}

.hero-flex {
    flex-direction: column;
    justify-content: center;
}

.arrow-down {
    color: white;
    cursor: pointer;
    flex-grow: 0;
    display: flex;
    font-size: 300%;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.arrow-down:hover {
    color: white;
    transform: scale(1.5, 1.5);
}

.list-step {
    margin-top: 5rem !important;
    margin-bottom: 2rem;
}