$family-sans-serif: 'Lato', sans-serif;
$family-primary: 'Lato', sans-serif;

$orange: #f28903;
$yellow: #eabd00;
$green: #95b420;
$pink: #d82e8a;
$cyan: #00a6d0;
$blue: #005c9f;
$purple: #512483;
$red: #cf232c;
$turquoise: #00a09b;

$primary: $purple;